div.Flexible-container
	iframe(src="https://www.google.com/mapmaker?ll=4.176514,73.514553&spn=0.004467,0.007204&z=18&lyt=large_map_v3&htll=4.176514,73.514553&hyaw=355.3559237163364", width="1170", height="550", frameborder="0", style="border:0")

