div.Flexible-container
	iframe(src="https://maps.google.com/?ie=UTF8&ll=4.177188,73.516393&spn=0.004569,0.004474&t=m&z=18&source=embed&output=embed", width="1170", height="550", frameborder="0", style="border:0")

