doctype 5
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Pool Chemicals & Services Maldives
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/html5Preloader.js')
		script(src='/javascripts/davis.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/templates.js')
		script window.poolchemicals = !{data};
		script(src='/js/pre.js')
	body
		section.container
			header.row
				section.col-md-4
					img(src="/images/1.4.jpg").img-responsive
				section.col-md-8.align-right
					section.row
						section
							p
								span
									span.glyphicon.glyphicon-earphone
									span &nbsp 3344081
					section.row.hide
						h3 You'll have an opportunity to get the results when 
			nav.navbar.navbar-default(role="navigation")#nav-parent
				div.navbar-header
					button(type='button',data-toggle="collapse",data-target="#nav").navbar-toggle
						span.sr-only Toggle Menu
						span.icon-bar
						span.icon-bar
						span.icon-bar
				div.collapse.navbar-collapse#nav
					ul.nav.navbar-nav
						li.active
							a(href='/') HOME
						li.active
							a(href='/products') PRODUCTS
						li.active
							a(href='/services') SERVICES
						li.active
							a(href='/contact') CONTACT US
			section.row
				div#carousel.carousel.slide(data-ride="carousel")
					include components/carousel
			section.row
				section.col-md-8
					h2 Proudly Selling From Trusted Brands Worldwide
					section.row#brands
						-each brand in brands
							img(src="/files/medium"+brand.image).img-responsive
				section.col-md-4
					h3 Get updates from us
					section
						input(type="text", placeholder="your email").form-control
						section.row(style='margin-top:10px')
							section.col-md-8
								p.note We will not spam you, our newsletters are sent less frequently
							section.col-md-4
								button(type="button").btn.btn-info.btn-block Subscribe
							section.col-md-8.social
								a(href='').btn.btn-info t
								a(href='').btn.btn-info f						
