trans(arg)
	transition arg
	-webkit-transition arg
	-moz-transition arg
	-o-transition arg
*
	//font-family "Open Sans" !important
.mark
	background #f0f0f0
	border solid 1px #d0d0d0
.align-right
	text-align right
#logo
	font-size 95px
.carousel-indicators
	li
		border none
		background rgb(0, 184, 255)
#stuff
	position: absolute;
	top: 10px;
	padding: 10px;
	background: rgb(0, 224, 255);
	left: 10px;
	a
		font-family "Open Sans"
		color white
		text-decoration none
		font-weight 100;
		-webkit-transition font-weight .2s linear
		&:hover
			font-weight 800
.note
	color: #888;
	font-size: 13px;
#submenu
	position absolute
	left 20%
	top 0
	h4
		cursor pointer
		background rgba(0, 0, 0, 0.13)
		font-family "Open Sans"
		color white
		text-decoration none
		font-weight 400;
		padding: 10px 15px;
		display: inline-block;
		margin-right: 19px;
		trans(background .3s linear)
		font-size 14px
		&:hover
			background rgba(0, 0, 0, 0.6)
	.active
		background rgb(0, 224, 255)
			
.current-url
	font-weight 600 !important
.carousel-caption
	background rgba(0, 0, 0, .5)
	h1
		color rgb(0, 224, 255)
@media (max-width: 450px)
	.carousel-caption
		h1
			font-size 10px
		p
			display none
	.carousel-control
		display inline-block
@media (min-width: 1200px)
	#carousel
		height 550px
	.carousel-control
		display none
#brands
	img
		display inline-block
		margin-right 40px
		-webkit-filter grayscale(100%)
		filter grayscale(100%)
		trans(-webkit-filter .3s linear)
		height 90px
		&:hover
			-webkit-filter grayscale(0%)
.social
	a
		font-weight bold
		margin-right 20px
