*
	//font-family "Open Sans" !important
.mark
	background #f0f0f0
	border solid 1px #d0d0d0
.align-right
	text-align right
#logo
	font-size 95px
.carousel-indicators
	li
		border none
		background rgb(0, 184, 255)
#stuff
	position: absolute;
	top: 10px;
	padding: 10px;
	background: rgb(0, 224, 255);
	left: 10px;		
