*
	//font-family "Open Sans" !important
.mark
	background #f0f0f0
	border solid 1px #d0d0d0
.align-right
	text-align right
#logo
	font-size 95px
.carousel-indicators
	li
		border none
		background rgb(0, 184, 255)
#stuff
	position: absolute;
	top: 10px;
	padding: 10px;
	background: rgb(0, 224, 255);
	left: 10px;
	a
		font-family "Open Sans"
		color white
		text-decoration none
		font-weight 100;
		-webkit-transition font-weight .2s linear
		&:hover
			font-weight 800
.note
	color: #888;
	font-size: 13px;
#submenu
	position absolute
	left 20%
	top 0
	h4
		background rgb(0, 224, 255)
		font-family "Open Sans"
		color white
		text-decoration none
		font-weight 400;
		padding: 10px 15px;
		display: inline-block;
		margin-right: 19px;
		&:hover
			font-weight 800
